.card-footer {
  padding: 0px 0px;
}

.modal-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  background-color: #ffffff;
}

.modal-progress {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.modal-progress > .progress {
  position: absolute;
  top: 48%;
  width: 25%;
}

thead th {
  text-transform: uppercase;
  font-family: inherit;
  padding: 0.4rem 0.8rem;
  padding-top: 0.4rem;
  padding-right: 0.8rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
}

thead tr {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(231, 231, 231);
}

thead th:hover {
  background: rgb(240, 238, 238);
}

.table tbody td {
  text-align: left;
  padding: 0.16rem 0.8rem;
  vertical-align: middle;
  border-top: 0;
  color: black;
  transition: width 0.3s ease;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 400;
}

.table tbody tr:nth-child(even) {
  background-color: #ebe8e7;
}

.table tbody tr:hover {
  box-shadow: inset 0 0 0 0, 0 0 0.5rem #c1c1c1;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.pagination-area .right {
  text-align: right;
}

.combo-table-lines {
  float: right;
}

.table-count {
  padding: 8px;
  float: right;
}

.pagination-area {
  margin: 0;
  font-weight: 400;
  text-align: center;
}

.pagination-area .row {
  margin-left: -12px;
  margin-right: -12px;
}

.pagination .pagination-next.page-item .page-link {
  font-size: 16px;
  line-height: 38px;
  color: #0075dd;
}

.pagination-area li.pagination-next a,
.pagination-area li.pagination-previous a {
  color: #2993e4;
  font-size: 16px;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: baseline;
}

#paginacao li {
  border: 0;
  border-radius: 25px;
  display: inline-block;
  float: none;
  font-size: 16px;
  font-weight: 700;
  margin: 0 6px;
  color: #666666;
}

.dropdown-toggle .filter-option-inner-inner {
  font-weight: 400;
}

.pagination-area li .dropdown-item {
  font-weight: 400;
}

.modal-content .modal-header button {
  text-align: right;
}

em {
  color: #ff0000;
}
.modal-dialog-centered::before .modal-content .modal-header .modal-title h4 {
  text-align: left;
}

.label-danger {
  color: #ff0000;
  font-style: italic;
}
h4 .modal-title {
  text-align: left;
}

.modal .modal-header {
  border-bottom: 0;
}

.modal .modal-title {
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.42857143;
}

.bg-login-unico2 {
  background-size: cover;
  background-image: url(../images/bg-login-unico2.jpg);
  background-position: center center;
}

.modal-body .panel-group {
  margin-bottom: 20px;
}

.view-btn :hover {
  background-color: transparent;
  border: 0;
}

.modal-body .panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}

.panel {
  border: 1px solid transparent;
}

.certificado-digital {
  color: #003da5;
  background-color: transparent;
  border: 0;
  font-size: 0.875rem;
  text-decoration: underline;
}

.modal-body .panel-group .panel-default {
  border-color: #ddd;
}

.app-body {
  background: linear-gradient(
    to right,
    #f4f7f8 1.73%,
    #e1f4ff 36.14%,
    #ededfe 82.43%,
    #f3f3f3 100%
  );
  background-image: linear-gradient(
    to right,
    rgb(244, 247, 248) 1.73%,
    rgb(225, 244, 255) 36.14%,
    rgb(237, 237, 254) 82.43%,
    rgb(243, 243, 243) 100%
  );
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.container-fluid .panel-body {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.modal-body .panel-group {
  border: 1px solid transparent;
}

.label-warning {
  background-color: #f0ad4e;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

h4 .label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.card-footer .btn-primary {
  color: #ffffff;
  background-color: #2d74da;
  border-color: #2d74da;
}

.card-footer .btn-primary:hover {
  box-shadow: 0 0.5625rem 0.5rem rgb(45 116 218 / 50%);
  transform: scale(1.05);
}
.modal .modal-header p {
  overflow-wrap: break-word;
}

.panel-group {
  margin-bottom: 20px;
}

#limpar {
  color: #2d74da;
  background-color: #ffffff;
  border-color: #cdcdd8;
}

#limpar:hover {
  box-shadow: 0 0.5625rem 0.5rem rgb(45 116 218 / 50%);
  transform: scale(1.05);
}

.card-header .btn-circle-inverted-primary:hover {
  box-shadow: 0 0.5625rem 0.5rem rgb(45 116 218 / 50%);
  transform: scale(1.05);
  color: #ffffff;
  background-color: #2d74da;
  border-color: #2d74da;
}

.accordion-toggle[aria-expanded="true"] .fa,
.accordion-toggle[aria-expanded="true"] .fas {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn-circle-inverted-info:hover,
.btn-circle-inverted-danger:hover {
  color: #ffffff;
}

.btn-light {
  color: #212529;
  background-color: transparent;
  border-color: gray;
  box-shadow: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #5f5f7d;
  text-decoration: none;
  background-color: #f4f4f4;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #5f5f7d;
  text-decoration: none;
  background-color: #f4f4f4;
}

.btn-light:not(.nohover):hover {
  color: #212529;
  background-color: transparent;
  border-color: gray;
  box-shadow: none;
}

.btn-select {
  padding: 6px 15px;
  border: 1px solid #c1c1c1;
}

.daterangepicker.single {
  min-width: 406px;
}

.input-group-btn > button {
  left: -1px;
  color: #5f5f7d;
  border-radius: 0;
  border: 1px solid #c1c1c1;
}

.bootstrap-select .dropdown-item {
  padding: 0.5 rem !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  border-color: #0075dd;
  box-shadow: 0 0 5px #333;
}

.bootstrap-select > .dropdown-toggle,
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: #5f5f7d !important;
}

#tabTemplateConteudo {
  padding-top: 14px;
}

.auto-table tr {
  height: 43px;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

td > .fa-check,
td > .fa-check-circle {
  color: #008800;
}

td > .fa-times,
td > .fa-times-circle {
  color: rgb(186, 66, 66);
}

td > .fa-remove,
td > .fa-remove-circle {
  color: #ba4242;
}

iframe {
  border: transparent;
  width: 100%;
  min-height: 45vw;
  margin-top: 0px;
}

.frame-power-bi {
  min-height: 50px;
  height: calc(100vh - 256px);
}

.separador-base {
  border-bottom: 1px solid #d9dbda;
}

.app-loading__logo {
  width: 100px;
  height: 100px;
  background: url('../icons/icon-96x96.png') center center no-repeat;
}

.footer-link {
  margin-left: 10px;
  margin-right: 10px;
}

.sidebar .nav-link {
  cursor: pointer;
}

.menu-grupo {
  background-color: #00348c !important;
  color: #FFFFFF !important;
}

.menu-grupo:hover {
  color: #00348c !important;
  background-color: #FFFFFF !important;
}

.code-preview {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 7px;
  height: 100%;
  white-space: pre-wrap;
}

.memo-count {
  font-size: small;
}
