.msg-box {
	position: fixed;
	z-index: 9001;
	top: 20px;
	left: 50%;
	width: 1px;
	height: 1px;
}
.msg-box .box {
	position: relative;
	border-radius: 6px;
	box-shadow: 0px 0px 16px rgba(55,35,35,.5);
	padding: 12px 12px 12px 40px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipisis;
}

.msg-box .box.msg-erro {
	color: #ce432c;
	background: #faece9 url(../images/icons/msg-erro-icon.png) no-repeat 10px center;
	border: 1px solid #e6a195;
}
.msg-box .box.msg-warn {
	color: #e38844;
	background: #fcf3ec url(../images/icons/msg-warn-icon.png) no-repeat 10px center;
	border: 1px solid #f1c3a1;
}
.msg-box .box.msg-info {
	color: #2c7cce;
	background: #e9f2fa url(../images/icons/msg-info-icon.png) no-repeat 10px center;
	border: 1px solid #95bde6;
}
.msg-box .box.msg-succ {
	color: #118d56;
	background: #e7f3ee url(../images/icons/msg-succ-icon.png) no-repeat 10px center;
	border: 1px solid #88c6aa;
}
